<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link th:href="@{/css/layout.css}" rel="stylesheet">
<!-- 共通化するヘッダー -->
<header>
	<div class="header">

		<nav>
			<b class="left-align">
				<img src="/image/benpura_logo.png" alt="Extra Image" class="extra-image">
			</b>

			<!--a href="/ボーデンさんのhtml名">-->
			<div th:if="${#authorization.expression('isAuthenticated()')}">
				<!-- ログイン時の表示 -->
				<form th:action="@{/logout}" method="post">
					<button class="header-btn hover9" type="submit" style="border:none;background-color:transparent;cursor:pointer;">
						<img class="header-img" src="/image/login.png" alt="Sample Image">ログアウト</button>
				</form>
			</div>
			<div th:if="${#authorization.expression('!isAuthenticated()')}">
				<!-- ログアウト時の表示 -->
				<a class="hover9" href="/login"><img class="header-img" src="/image/login.png" alt="Sample Image">ログイン</a>
			</div>

			<!--a href="/若松さんのhtml名">-->
			<div class="drop-menu">
				<a class="hover9" href="#">
					<img src="/image/mypage.png" alt="Sample Image">
					マイページ
				</a>
				<ul class="drop-menu-list">
					<li><a href="/calendar">カレンダーページ</a></li>
					<!--			        <li><a href="/rireki">履歴表示</a></li>-->
				</ul>
			</div>

			<!--			<a class="name" href="/calender">-->
			<!--				<img src="/image/mypage.png" alt="Sample Image">-->
			<!--				マイページ-->
			<!--			</a>-->

			<!--a href="/川口さんのhtml名">-->
			<a class="hover9" href="/cart">
				<img src="/image/cart.png" alt="Sample Image">
				カート
			</a>
		</nav>
	</div>
</header>