@charset "UTF-8";

.header {
	position: sticky;
	top: 0;
	width: 100%;
	background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
	/*余白を消すためにmarginマイナス設定*/
	box-shadow:
    0 0.5px 1.5px rgba(0, 0, 0, 0.057),
    0 1px 2px rgba(0, 0, 0, 0.076),
    0 1.5px 2.5px rgba(0, 0, 0, 0.086),
    0 2px 3.5px rgba(0, 0, 0, 0.092),
    0 2.5px 4px rgba(0, 0, 0, 0.1);
	z-index: 10;
}

nav {
	display: flex;
	justify-content: space-between;
	/* 全体を左右に分ける */
	align-items: center;
	gap: 10px;
	/* アイテム間のスペース（オプション） */
/*	padding: 5px;*/
	/* ナビゲーション内にパディングを追加（オプション） */
	
	width: 100%; /* ナビゲーションを全幅に */
}

nav a {
	display: flex;
	align-items: center;
	justify-content: center;
	/* 文字とアイコンを中央に配置 */
	color: black;
	text-decoration: none;

	margin-right: 3%;

	position: relative;
	padding: 0 15px;
	/* 左右に適度なパディングを追加 */
	margin: 0;
	/* 余計なマージンを取り除く */
	text-align: center;
	/* テキストを中央揃え */
}

/*nav img {*/
/*	width: 25px;*/
/*	height: auto;*/
/*}*/
/*.header-img {*/
/*	width: 25px;*/
/*	height: auto;*/
/*	margin:auto;*/
/*}*/
/*.header-btn {*/
/*	font-size: 1.1rem;*/
/*}*/
nav .left-align {
	margin-right: auto; /* 左側のアイテムを左寄せ */
}

nav .extra-image {
	width: auto;
	height: 4.5rem;
	padding-left: 10%;
}

nav b {
	display: flex;
	align-items: center;
	color: black;
	font-size: 25px;
}

/* ドロップダウンメニュー */
.drop-menu {
	position: relative;
}

.drop-menu-list {
	background-color: rgb(128, 255, 128);
	position: absolute;
	top: 100%;
	/*	left: 0;*/

	visibility: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
	z-index: 1;
}

.drop-menu-list li {
	border-bottom: 1px solid #ccc;
}

.drop-menu-list li:last-child {
	border-bottom: none;
}

.drop-menu-list a {
	display: block;
	/*	padding: 10px;*/
	padding: 10px 20px;
	/* テキスト周りのパディングを調整 */

	color: black;
	text-decoration: none;

	text-align: center;
	/* ドロップダウンメニュー内のテキストを中央揃え */
}

.drop-menu-list a:hover {
	background-color: rgb(100, 255, 100);
}

/* ドロップダウンメニューのホバー処理 */
.drop-menu:hover .drop-menu-list {
	visibility: visible;
}
.hover9 img{
	width: 25px;
	height: auto;
}
.hover9 {
	display: inline-block;
	position: relative;
	text-decoration: none;
	font-size: 1rem;
	align-items: center;
}
.hover9::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: rgb(250, 94, 27);
	transition: all 0.3s ease 0s;
}
.hover9:hover {
	cursor: pointer;
}
.hover9:hover::after {
	width: 100%;
}